
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
     margin: 0;
     padding: 0;
     font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
     display: block;
 }

 body {
     line-height: 1;
 }

 blockquote, q {
     quotes: none;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /* custom */

 a {
     color: #7e8c8d;
     -webkit-backface-visibility: hidden;
 }

 li {
     list-style: none;
 }

 ::-webkit-scrollbar {
     width: 5px;
     height: 5px;
 }

 ::-webkit-scrollbar-track-piece {
     background-color: transparent;
     -webkit-border-radius: 6px;
 }

 ::-webkit-scrollbar-thumb:vertical {
     height: 5px;
     background-color: #e3e3e3;
     -webkit-border-radius: 6px;
 }

 ::-webkit-scrollbar-thumb:horizontal {
     width: 5px;
     background-color: #e3e3e3;
     -webkit-border-radius: 6px;
 }

 ::-webkit-input-placeholder { /* WebKit browsers */
    font-family: auto;
 }

 html, body {
     width: 100%;
     /* height: 100%; */
 }

 body {
     -webkit-text-size-adjust: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
